
@{
    ViewBag.Title = "Cadastre-se";
}
<h3>@ViewBag.Message</h3>

<h2>formCidades</h2>

<div class="container">
    <form method="post" action="formCadastroPessoa">
        <center>
            <div class="form-group">
                <input type="number" name="estado" placeholder="Estado" class="form-control" required><br>

                <input type="number" name="cidade" placeholder="Cidade" class="form-control" required><br>

                <input type="text" name="bairro" placeholder="Digite Bairro" class="form-control" required><br>

                <input type="text" name="logradouro" placeholder="Logradouro" class="form-control" required><br>

                <input type="number" name="numero" placeholder="Seu número" class="form-control" required><br>
            </div>
            <input type="submit" name="btnCadastraEndereco" value="Cadastrar" class="btn btn-success" required><br><br>
        </center>
    </form>
</div>