
@{
    ViewBag.Title = "Cadastre-se";
}

<h2>formCidades</h2>

<div class="container">
    <form method="" action="">
        <center>
            <div class="form-group">
                <select name="cidade" class="custom-select"></select>
                <select name="cidade" class="custom-select"></select>
            </div>
           
            <input type="submit" name="btnCadastraEndereco" value="Cadastrar" class="btn btn-success"><br><br>
        </center>
    </form>
</div>