
@{
    ViewBag.Title = "Cadastre-se";
}
<h3>@ViewBag.Message</h3>

<div class="container">
    <form method="post" action="CadastroSucesso">
        <center>
            <div class="form-group">
                <input type="text" name="nome" placeholder="Digite seu nome completo" class="form-control"><br>

                <input type="date" name="nascimento" placeholder="Digite o sua data de nascimento" class="form-control"><br>

                <input type="text" name="cpf" placeholder="Digite o seu CPF" class="form-control cpf-mask"><br>

                <input type="number" name="rg" placeholder="Digite o seu RG" class="form-control"><br>
            </div>
            <input type="email" name="usuario" placeholder="Digite um usuario para acessar o site" class="form-control"><br>
            <div>
                <input type="password" name="senha" placeholder="Digite uma senha segura" class="form-control"><br>
                <input type="password" name="senha1" placeholder="Confirme sua senha" class="form-control"><br>
            </div>
            <input type="submit" name="btnCadastraEndereco" value="Cadastrar" class="btn btn-success"><br><br>
        </center>
    </form>
</div>