@{
    ViewBag.Title = "Início";
}

<!DOCTYPE html>
<html lang="pt-br">
<body>
    <div class="container">
        <!-- Aqui começa o conteudo -->
        <div class="row">
            @foreach (var produto in Model)
            {
                <div class="col-md-4 col-md-pull-7">
                    <img src="@produto.caminhoImagem" width="400" height="400"/>
                </div>
                <div class="col-md-8">
                    <h2><a href="#">@produto.Nome</a></h2>
                    <p>
                        @produto.Descricao
                    </p>
                    <h5>Alugue já por apenas: R$@produto.valor por hora que usar!</h5>
                </div>
            }
        </div><!-- div row conteudo -->
    </div>
</body>
</html>