
<h3>@ViewBag.Message</h3>
<!DOCTYPE html>
<html lang="pt-br">
<body>
    <div class="container">
        <form method="" action="">
            <a class="btn btn-info" href="~/Privadas/MeusProdutos" role="button">Ver Produtos</a>

            <a class="btn btn-info" href="~/Privadas/CadastroProduto" role="button">Alugar Produto</a>
        </form>
        <br />
        <form method="POST">
            <div class="pull-right">
                <input type="button" data-toggle="modal" data-target="#modalEditaEmail" value="Alterar usuario de acesso"
                       class="btn btn-warning">
            </div>
        </form>
        <div class="modal fade" id="modalEditaEmail" tabindex="-1" role="dialog"
             aria-labelledby="modalEditaEmail">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title text-center" id="modalEditaEmail">Altere seu usuario de acesso!</h4>
                        <h5 class="text-center">Seu usuario atual é: @ViewBag.EmailSession</h5>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="AlteraEmail">
                            <input type="text" name="usuario" placeholder="Digite seu novo e-mail" class="form-control" required>
                            <br>
                            <input type="password" name="senha" placeholder="Digite sua senha" class="form-control" required>
                            <br />
                            <input type="submit" class="btn btn-info" name="btnAlteraEmail" value="Alterar" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>