
<!DOCTYPE html>
<html lang="pt-br">
<body>
    <div class="container">
        <form method="get" action="btnPaginaUsuario">
            <input type="submit" name="btn"  value="ALUGAR PRODUTO" class="btn btn-success">
            <input type="submit" name="btn" value="Ver meus produtos" class="btn btn-danger">
        </form>
        <br />
        <form method="POST">
            <div class="pull-right">
                <input type="button" data-toggle="modal" data-target="#modalEditaEmail" value="Alterar Email"
                       class="btn btn-warning">
            </div>
        </form>
        <div class="modal fade" id="modalEditaEmail" tabindex="-1" role="dialog"
             aria-labelledby="modalEditaEmail">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title text-center" id="modalEditaEmail">Edite seu email!</h4>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="AlteraEmail">
                            <input type="text" name="usuario" placeholder="Digite seu novo e-mail" class="form-control">
                            <br>
                            <input type="password" name="senha" placeholder="Digite sua senha" class="form-control">
                            <br />
                            <input type="submit" name="btnAlteraEmail" value="Alterar" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>