
@{
    ViewBag.Title = "formCadastroEndereco";
}

<div class="container">
    <form method="POST" action="formCadastroUsuario.php">
        <center>
            <input type="text" name="bairro" placeholder="Digite Bairro" class="form-control"><br>

            <input type="text" name="logradouro" placeholder="Digite seu logradouro" class="form-control"><br>

            <input type="text" name="numero" placeholder="Seu número" class="form-control"><br>

            <input type="submit" name="btnCadastraEndereco" value="Cadastrar" class="btn btn-success"><br><br>
        </center>
    </form>
</div>

